

  /* heading section */

body{
    font-family: 'Lato', sans-serif;
    
}


 .header{
        background-color: rgba(229, 84, 115, 0.10);
        /* height: 100vh; */
    }
*{
    padding:0;
    margin:0;
}

/* flex between */
.contanier{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0 0 120px ;
    text-align:justify;
}


/* Left-text area*/
.main-heading
{
    font-size: 30px;
}

.btn{  
    width: 150px;
    height: 64px;
    border: 0;
    border-radius: 15px;
    background-color: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

/* 2nd page title */

    .ourtitle{

    padding-top: 100px;
        text-align: center;
        padding-bottom: 100px;
}
/* shape section */

.first{
    width: 550px;
    height: 600px;
background-color: #f099c3;
border-top-left-radius: 250px;
border-top-right-radius: 250px;
align-items: center;

}
.second{
    width: 550px;
    height: 600px;
    background-color: rgb(127, 127, 209);
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    align-items: center;
}
.third{
    width: 550px;
    height: 600px;
    background-color:rgb(233, 233, 148);
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    align-items: center;
}
.shape{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 250px;
    padding: 0px 20px 0px 20px; 

}
.underline{
     justify-content: space-between;
     list-style: none;
     display: flex;
}
 


/* middle page  */

.middle-text{
list-style: none;
text-align: center;
margin-top: 75px;
padding-left: 175px;
padding-right: 150px;

}




.middle-section{
    
    background-color: #e6bdd1;
    margin-top: 150px;
    display: flex;
   
}
.middle-img{
    padding-left: 200px;
}
 /* fourth page  */

.fourth-text {
    
    text-align: center;
     margin-top: 100px;
}
.fourth-img{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 25px;
}


/* fifth-page  */

.input{

    height: 64px; 
    width: 700px; 
    background-color: rgb(202, 20, 20); 
    border: 0;
    border-radius: 10px;
    color: white;
    
}



.fifth-page{

    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    border-radius: 8px;
    background-size: 1280px 500px;
    padding: 150px;
    width: 50%;
    height: 100%;
    margin-top: 100px;
    margin-left: 310px;
   justify-content: center;

}
.fifth-heading{

    color: #272727;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    
}
.fifth-paragraph{


    margin-top: 0px;
    color:rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;;
    justify-content: center;
    
    margin-bottom: 70px;

}
.fifth-form  input[type="text"], .fifth-form input[type="email"],
textarea{ 

    margin-bottom: 50px;
    padding: 23px 33px;
    color: #757575;
    font-size: 14px;
    border-radius: 9px;
    background: #FFF;
    border: 0;
    width: 70%;
    
    justify-content: center;

}

.footer{

padding-top: 50px;
 color: white;
text-align: center;
background-color: #000000;
width: auto;
height:500px;
align-items: center;
}
